<!DOCTYPE html>

<head>
  {% block head%}
    <title>Foodfy</title>
  {% endblock %}

  <link rel="stylesheet" href="/style-foodfy.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
  <body>
    <header>
      <a href="/main"><img src="/assets/logo.png" alt="foodfy-logo" id="logo"></a>
      <a href="/about" class="about-header">Sobre</a>
      <a href="/recipes" class="recipes-header">Receitas</a>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
      <p>Todos os direitos reservados, receitas <strong>Foodfy</strong></p>
    </footer>
    <script src="/script.js"></script>
  </body>
</head>